In [9]:
import pandas as pd
from sklearn.metrics.pairwise import cosine_similarity

In [24]:
steam = pd.read_csv ('../Datasets/data_Api/function3.csv', usecols=['user_id','item_id','sentiment_analysis','recommend','app_name'])

In [25]:
steam

,app_name,user_id,item_id,recommend,sentiment_analysis
0,Half-Life,EizanAratoFujimaki,70,1,1
1,Half-Life,GamerFag,70,1,1
2,Half-Life,76561198020928326,70,1,1
3,Half-Life,Bluegills,70,1,2
4,Half-Life,76561198071955492,70,1,1
...,...,...,...,...,...
43422,Counter-Strike: Condition Zero,76561198023508728,80,0,1
43423,Counter-Strike: Condition Zero,Lone_walker,80,1,2
43424,Counter-Strike: Condition Zero,green290,80,1,2
43425,Counter-Strike: Condition Zero,174gamecuman700kngkakak,80,1,1
43426,Counter-Strike: Condition Zero,lachwe,80,1,0

In [26]:
df = steam
def recomendacion_juego(df, input_item_id, num_recommendations=5):
    # Filtrar el DataFrame para obtener solo las filas relacionadas con el juego de entrada
    input_item = df[df['item_id'] == input_item_id]

    if input_item.empty:
        return "El ID de producto no se encuentra en el conjunto de datos."

    # Extraer el usuario y sus recomendaciones para ese juego
    user_item_matrix = df.pivot_table(index='user_id', columns='item_id', values='recommend', fill_value=0)

    # Calcular la similitud coseno entre el juego de entrada y todos los demás juegos
    similarity_scores = cosine_similarity(user_item_matrix.T)

    # Obtener las puntuaciones de similitud para el juego de entrada
    input_item_scores = similarity_scores[input_item_id]

    # Obtener los índices de los juegos más similares (excluyendo el juego de entrada)
    similar_items_indices = input_item_scores.argsort()[:-1][-num_recommendations:]

    # Obtener los IDs y nombres de los juegos más similares
    similar_items = user_item_matrix.columns[similar_items_indices]

    # Imprimir las recomendaciones de juegos con saltos de línea y números de índice
    print(f"Juegos recomendados similares al juego con ID {input_item_id}:")

    for idx, item_id in enumerate(similar_items, start=1):
        print(f"{idx}. Juego ID: {item_id}")

# Ejemplo de uso:
input_item_id = 80
recomendacion_juego(df, input_item_id)

Juegos recomendados similares al juego con ID 80:
1. Juego ID: 40970
2. Juego ID: 232890
3. Juego ID: 209270
4. Juego ID: 330100
5. Juego ID: 342560

In [38]:
steam = steam.drop_duplicates(['item_id'])

In [39]:
df = steam
def recomendacion_juego(df, input_item_id, num_recommendations=5):
    # Filtrar el DataFrame para obtener solo las filas relacionadas con el juego de entrada
    input_item = df[df['item_id'] == input_item_id]

    if input_item.empty:
        return "El ID de producto no se encuentra en el conjunto de datos."

    # Extraer el usuario y sus recomendaciones para ese juego
    user_item_matrix = df.pivot_table(index='user_id', columns='item_id', values='recommend', fill_value=0)

    # Calcular la similitud coseno entre el juego de entrada y todos los demás juegos
    similarity_scores = cosine_similarity(user_item_matrix.T)

    # Obtener las puntuaciones de similitud para el juego de entrada
    input_item_scores = similarity_scores[input_item_id]

    # Obtener los índices de los juegos más similares (excluyendo el juego de entrada)
    similar_items_indices = input_item_scores.argsort()[:-1][-num_recommendations:]

    # Obtener los IDs y nombres de los juegos más similares
    similar_items = user_item_matrix.columns[similar_items_indices]

    # Obtener nombres de juegos correspondientes a los IDs
    game_names_df = df[df['item_id'].isin(similar_items)][['item_id', 'app_name']]

# Fusionar los DataFrames para obtener nombres correspondientes a los IDs
    merged_df = pd.merge(pd.DataFrame(similar_items, columns=['item_id']), game_names_df, on='item_id')

# Imprimir las recomendaciones de juegos con saltos de línea y números de índice
    print(f"Juegos recomendados similares al juego con ID {input_item_id}:")

    for idx, (item_id, game_name) in enumerate(zip(merged_df['item_id'], merged_df['app_name']), start=1):
        print(f"{idx}. Juego ID: {item_id}, Name: {game_name}")
        

# Ejemplo de uso:
input_item_id = 80
recomendacion_juego(df, input_item_id)

Juegos recomendados similares al juego con ID 80:
1. Juego ID: 214950, Name: Total War™: ROME II - Emperor Edition
2. Juego ID: 214970, Name: Intrusion 2
3. Juego ID: 215080, Name: WAKFU
4. Juego ID: 214830, Name: Half Minute Hero: Super Mega Neo Climax Ultimate Boy
5. Juego ID: 428880, Name: The Quest

In [42]:
steam[steam['item_id'] == 215080]

      app_name            user_id  item_id  recommend  sentiment_analysis
13791    WAKFU  76561198076098774   215080          1                   2