In [1]:
import pandas as pd
import numpy as np

In [3]:
user = pd.read_csv('01_nombres_max.csv.gz',compression='gzip')

In [19]:
user.rename(columns= {'index': 'genres'}, inplace=True)
user.reset_index(drop=True, inplace=True)

In [23]:
user.drop('Unnamed: 0', axis=1, inplace=True)

In [24]:
user

                genres             nombre  max_year
0            Utilities  76561198073642113    2014.0
1         Experimental            johnvu3    2016.0
2               Rhythm      oshilorenzo89    2014.0
3               Runner  76561198058230663    2015.0
4            Detective             Seaeco    2009.0
..                 ...                ...       ...
329          Word Game    BurningCassette    2014.0
330         Illuminati         idonothack    2015.0
331        World War I             DrQuaz    2013.0
332  Alternate History             DrQuaz    2013.0
333  Puzzle-Platformer        shinomegami    2003.0

[334 rows x 3 columns]

In [33]:
user_genre = pd.read_csv ('user_genre.csv.gz', compression='gzip')

In [40]:
user_genre

,year,playtime_forever,user_id,genres
0,2000,0.100000,76561197970982479,"[Action, FPS, Multiplayer, Shooter, Classic, T..."
1,2000,1.550000,doctr,"[Action, FPS, Multiplayer, Shooter, Classic, T..."
2,2000,1.800000,corrupted_soul,"[Action, FPS, Multiplayer, Shooter, Classic, T..."
3,2000,5.466667,WeiEDKrSat,"[Action, FPS, Multiplayer, Shooter, Classic, T..."
4,2000,104.583333,death-hunter,"[Action, FPS, Multiplayer, Shooter, Classic, T..."
...,...,...,...,...
2185808,2016,0.216667,thekushcorner,"[RPG, Indie, Adventure, Procedural Generation,..."
2185809,2016,0.100000,peter1023199,"[Simulation, Racing, Sports]"
2185810,2016,0.766667,76561198071808318,"[Indie, Adventure, Cute, Puzzle-Platformer, Pl..."
2185811,2016,2.733333,76561198107283457,"[Indie, Casual, Action, Simulation]"
2185812,2015,0.116667,danebuchanan,"[Casual, Simulation, Psychological Horror, Hor..."

In [46]:
# Convertir la columna 'genres' a una lista si aún no está en ese formato
#user_genre['genres'] = user_genre['genres'].apply(eval)

# Usar explode para convertir listas en filas individuales
exploded_df = user_genre.explode('genres')

# Encontrar el usuario que más jugó y el año que más se jugó para cada género
agg_df = exploded_df.groupby('genres').agg({
    'user_id': pd.Series.idxmax,
    'year': 'idxmax'
})

# Filtrar el DataFrame original utilizando los índices encontrados
result_df = exploded_df.loc[agg_df['user_id'], ['genres', 'user_id', 'year']]

# Renombrar las columnas según tus especificaciones
result_df.columns = ['genres', 'nombre', 'max_year']

# Usar explode nuevamente en result_df para mantener el formato deseado en 'genres'
result_df['genres'] = result_df['genres'].apply(lambda x: [x])

# Imprimir el resultado
result_df

                     genres      nombre  max_year
498956   [Great Soundtrack]  zzzmidmiss      2012
498956             [Action]  zzzmidmiss      2012
498956            [Violent]  zzzmidmiss      2012
498956              [Indie]  zzzmidmiss      2012
498956           [Top-Down]  zzzmidmiss      2012
...                     ...         ...       ...
160516           [Tactical]  zzzmidmiss      2009
160516       [Replay Value]  zzzmidmiss      2009
1339003      [Free to Play]  zzzmidmiss      2014
1339003       [Documentary]  zzzmidmiss      2014
1339003          [e-sports]  zzzmidmiss      2014

[5898 rows x 3 columns]

In [68]:
result_df[result_df['genres'] == 'Action']

         genres       nombre  max_year
498956   Action   zzzmidmiss      2012
1818     Action        zzyfo      2000
951385   Action        zzyfo      2013
498956   Action   zzzmidmiss      2012
1748393  Action  zzoptimuszz      2017
...         ...          ...       ...
1628234  Action  zzoptimuszz      2014
1929332  Action     zomgieee      2013
1074678  Action        zzyfo      2012
1948540  Action        zenpj      2016
160516   Action   zzzmidmiss      2009

[242 rows x 3 columns]

In [78]:
def PlayTimeGenre( genero : str ):
    # Filtrar el DataFrame por el género especificado
    genero_df = result_df[result_df['genres'] == genero]

    # Obtener el año con más horas jugadas para el género dado
    max_year = genero_df['max_year'].iloc[0]

    # Retornar el resultado en un formato deseado
    #return {"Año de lanzamiento con más horas jugadas para Género {}:".format(genero): max_year}
    return "Año de lanzamiento con más horas jugadas para Género {}: {}".format(genero, int(max_year))

In [79]:
PlayTimeGenre('Action')

'Año de lanzamiento con más horas jugadas para Género Action: 2012'