In [1]:
import pandas as pd
import numpy as np

In [8]:
user_item = pd.read_csv('./Datasets/user_items_cleaned.csv.gz')
steam_games = pd.read_csv ('./Datasets/steam_games_cleaned.csv.gz')

In [9]:
merged_df = pd.merge(user_item, steam_games, left_on='item_name', right_on='app_name', how='inner')

In [11]:
df = merged_df[['year','playtime_forever','user_id','genres']]

In [12]:
df = df[df['playtime_forever']> 0]

In [14]:
df['playtime_forever']=df['playtime_forever'] / 60

In [15]:
df

,year,playtime_forever,user_id,genres
0,2000,0.100000,76561197970982479,"['Action', 'FPS', 'Multiplayer', 'Shooter', 'C..."
3,2000,1.550000,doctr,"['Action', 'FPS', 'Multiplayer', 'Shooter', 'C..."
4,2000,1.800000,corrupted_soul,"['Action', 'FPS', 'Multiplayer', 'Shooter', 'C..."
7,2000,5.466667,WeiEDKrSat,"['Action', 'FPS', 'Multiplayer', 'Shooter', 'C..."
8,2000,104.583333,death-hunter,"['Action', 'FPS', 'Multiplayer', 'Shooter', 'C..."
...,...,...,...,...
3180565,2016,0.216667,thekushcorner,"['RPG', 'Indie', 'Adventure', 'Procedural Gene..."
3180566,2016,0.100000,peter1023199,"['Simulation', 'Racing', 'Sports']"
3180567,2016,0.766667,76561198071808318,"['Indie', 'Adventure', 'Cute', 'Puzzle-Platfor..."
3180568,2016,2.733333,76561198107283457,"['Indie', 'Casual', 'Action', 'Simulation']"
3180569,2015,0.116667,danebuchanan,"['Casual', 'Simulation', 'Psychological Horror..."

In [25]:
df[['playtime_forever','year']][df['user_id']=='wolop'].groupby(['year']).sum(['playtime_forever']).to_dict()

{'playtime_forever': {2004: 685.0333333333333,
  2005: 0.016666666666666666,
  2006: 10713.3,
  2007: 1.3333333333333335,
  2008: 108.46666666666667,
  2009: 37.88333333333333,
  2010: 0.05,
  2011: 270.3833333333333,
  2012: 42.233333333333334,
  2014: 5.366666666666667,
  2015: 32.61666666666667,
  2017: 19.383333333333333}}

# TABLA 1  (Creo tabla genero con usuario que mas jugo)

In [19]:
lista_de_generos = df['genres'].explode().unique()

In [20]:
tabla_1 = pd.DataFrame(index=lista_de_generos,columns=['nombre'])

In [21]:
tabla_1 = tabla_1.reset_index()

In [22]:
tabla_1

                                                  index nombre
0     ['Action', 'FPS', 'Multiplayer', 'Shooter', 'C...    NaN
1     ['Action', 'FPS', 'Multiplayer', 'Classic', 'S...    NaN
2     ['FPS', 'World War II', 'Multiplayer', 'Action...    NaN
3     ['Action', 'FPS', 'Multiplayer', 'Classic', 'S...    NaN
4     ['FPS', 'Action', 'Sci-fi', 'Singleplayer', 'C...    NaN
...                                                 ...    ...
6149  ['Early Access', 'Strategy', 'RPG', 'Indie', '...    NaN
6150  ['RPG', 'Indie', 'Adventure', 'Procedural Gene...    NaN
6151  ['Indie', 'Adventure', 'Cute', 'Puzzle-Platfor...    NaN
6152        ['Indie', 'Casual', 'Action', 'Simulation']    NaN
6153  ['Casual', 'Simulation', 'Psychological Horror...    NaN

[6154 rows x 2 columns]

In [43]:
def obtener_usuario(genero_especifico):
    dataframe = df
    df_genero_especifico = dataframe[dataframe['genres'].apply(lambda x: genero_especifico in x)]

    df_agrupado = df_genero_especifico[['playtime_forever', 'user_id']].groupby(['user_id']).sum().reset_index()

    # Encuentra el usuario con el mayor playtime_forever
    usuario_mayor_playtime = df_agrupado.groupby(['user_id']).sum().sort_values('playtime_forever', ascending=False).index[0]

    return usuario_mayor_playtime

In [44]:
tabla_1['nombre']=tabla_1['index'].apply(obtener_usuario)

In [50]:
tabla_1 = tabla_1.to_csv ('./Datasets/tabla1.csv', index=False)

In [ ]:
def datalle(nombre):
    
    resultado = df[['playtime_forever','year']][df['user_id']== nombre ].groupby(['year']).sum(['playtime_forever']).to_dict()

    return resultado

In [ ]:
df[['playtime_forever','year']][df['user_id']== 'Sp3ctre' ].groupby(['year']).sum(['playtime_forever']).to_dict()

In [ ]:
tabla_1['detalle']=tabla_1['user_id'].apply(datalle)